###### PLEASE NOTE THAT THE PYTHON VERSION OFFICIALLY SUPPORTED IS THE 3.7: OTHER VERSIONS COULD MAKE ARISE ERRORS AND CONFLICTS BETWEEN THE LIBRARIES INSTALLED ######

numpy==1.19.5
pandas==1.3.5
scikit-learn==1.0.1
tensorflow==2.4.0 #comment this if you are building for arm64
matplotlib #used only for statistics
paho-mqtt
